
ion-item {
    text-transform: uppercase;
    margin-top: 10px;
    padding-right: 6px;
}

div .item-inner {
    padding-right: 0px;
}

.logoImg {
    height: 70px;
    margin-bottom: -5px;
    margin-top: -7px;
}

ion-button {
    margin-top: 10px;
}


// Xl Screens 1140px and Higher
@media screen and (min-width: 1140px) { 
    
    
}
// lg Screen 960px to 1139px
@media screen and (min-width: 960px) and (max-width: 1139px){ 
    
}

// md screen 720px to 956px Ipad Pro
@media screen and (min-width: 720px) and (max-width: 956px) {
    
}   

// xm 540px to 719px and under Blue Tablet
@media screen and (min-width: 540px) and (max-width: 719px) {
    

}

// xs 539 and smaller Android Phone
@media screen and (max-width: 539px) {
    
}