<ion-content>
  <!-- ******** Banner Area ********** -->
  <div class="bannerArea">
    <ion-row justify-content-center>
      <ion-col size="12">
        <h1 class="centerText titleText">Contact Us</h1>
      </ion-col>
    </ion-row>
  </div>
  <!-- ******** End Of Banner Area ********** -->
  <ion-row>
    <ion-col offsetXl="2" sizeXl="8">
      <h1 class="centerText contentTitle">Let us start working for you immediately</h1>
      <ion-row justify-content-center>
        <a target="blank" href="https://www.cognitoforms.com/NINTHPLATFORM/DesignRequestForm">
          <ion-button shape="round" size="large" class="requestDesignBtn" color="primary" (click)="onClick()">
            <ion-icon color="light" slot="start" name="clipboard"></ion-icon> Request Design
          </ion-button>
        </a>
      </ion-row>
      <hr>
      <ion-row padding>
        <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="6" sizeXs="12">
          <a target="blank" href="http://maps.google.com/?q=10 BUCKEYE AVE. Oakland, CA. 94618">
            <ion-card>
              <ion-card-content>
                <ion-row align-items-center>
                  <ion-col align-self-end size="2">
                    <span>
                      <ion-icon color="tertiary" slot="start" name="pin"></ion-icon>
                    </span>
                  </ion-col>
                  <ion-col size="10">
                    <p>
                      10 BUCKEYE AVE.<br>
                      Oakland, CA. 94618
                    </p>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </a>
        </ion-col>
        <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="6" sizeXs="12">
          <a target="blank" href="tel:408-204-9868">
            <ion-card>
              <ion-card-content>
                <ion-row align-items-center>
                  <ion-col align-self-end size="2">
                    <span>
                      <ion-icon color="tertiary" slot="start" name="call"></ion-icon>
                    </span>
                  </ion-col>
                  <ion-col size="10">
                    <p class="phoneNumberText">408-204-9868</p>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <form [formGroup]="contactUsForm" (ngSubmit)="sendEmail()">
            <ion-item>
              <ion-label>Name: </ion-label>
              <ion-input formControlName="name" type="text" name="title"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Business: </ion-label>
              <ion-input formControlName="business" name="description"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Email: </ion-label>
              <ion-input formControlName="email" type="email" name="description"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Description: </ion-label>
              <ion-textarea formControlName="description" name="description"></ion-textarea>
            </ion-item>
            <ion-button [disabled]="!contactUsForm.valid" size="large" expand="full" ion-button type="submit" block>Submit</ion-button>
          </form>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <div class="footerSpace"></div>
</ion-content>