.bannerArea {
    position: relative;
    left: -20px;
    top: -20px;
    width: 103%;
    background-image: url("/src/assets/images/DesignBanner.png");
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center; 
    height: 200px;
}

.centerText {
    text-align: center;
    color: #F9FCF6;
}

.titleText {
    position: relative;
    top: 60px;
    font-size: 35pt;
    text-transform: uppercase;
}

.contentTitle {
    font-size: 25pt;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

h3 {
    color: #F9FCF6;
    font-family: 'Open Sans', sans-serif;
}

ion-item {
    color: #F9FCF6;
    background-color: #262626;
    font-size: 16pt;
}

ion-icon {
    color: #ED7F1E;
}

// Xl Screens 1140px and Higher
@media screen and (min-width: 1140px) { 
    
    
}
// lg Screen 960px to 1139px
@media screen and (min-width: 960px) and (max-width: 1139px){ 
    
}

// md screen 720px to 956px Ipad Pro
@media screen and (min-width: 720px) and (max-width: 956px) {
    .bannerArea {
        position: relative;
        left: 0px;
        top: 0px;
        width: 103%;
        height: 340px;
    }
    
    .titleText {
        position: relative;
        top: 150px;
        font-size: 28pt;
        text-transform: uppercase;
    }
    .contentTitle {
        font-size: 18pt;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
    }
    h3 {
        font-size: 14pt;
    }
    ion-item {
        font-size: 12pt;
    }
}   

// xm 540px to 719px and under Blue Tablet
@media screen and (min-width: 540px) and (max-width: 719px) {
    .bannerArea {
        position: relative;
        left: 0px;
        top: 0px;
        width: 103%;
        height: 340px;
    }
    
    .titleText {
        position: relative;
        top: 130px;
        font-size: 28pt;
        text-transform: uppercase;
    }
    .contentTitle {
        font-size: 18pt;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
    }
    h3 {
        font-size: 14pt;
    }
    ion-item {
        font-size: 12pt;
    }

}

// xs 539 and smaller Android Phone
@media screen and (max-width: 539px) {
    .bannerArea {
        position: relative;
        left: 0px;
        top: 0px;
        width: 103%;
        height: 260px;
    }
    
    .titleText {
        position: relative;
        top: 80px;
        font-size: 28pt;
        text-transform: uppercase;
    }
    .contentTitle {
        font-size: 18pt;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
    }
    h3 {
        font-size: 14pt;
    }
    ion-item {
        font-size: 12pt;
    }
}