<ion-content>
    <!-- ******** Banner Area ********** -->
    <div class="bannerArea">
      <ion-row justify-content-center>
        <ion-col size="12">
          <h1 class="centerText titleText">Rendering Services</h1>
        </ion-col>
      </ion-row>
    </div>
    <!-- ******** Banner Area ********** -->
    <ion-row>
      <ion-col offsetXl="2" sizeXl="8">
        <ion-row>
          <ion-col size="12">
              <h3>
                  At NINTHPLATFORM we are taking renderings to a level the 
                  industry has been asking for. As customers demand to see more than a 2D & 3D 
                  line drawings, NINTHPLATFORM has raised the bar to support you deliver the quality 
                  imagery that is required to win business.
              </h3>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" sizeXl="4">
              <ion-card>
                <ion-card-header>
                  <ion-card-title class="centerText">Clarifying</ion-card-title>
                </ion-card-header>
                <ion-card-content class="centerText">
                    As you present clear information it allows your customers to 
                    clearly see their offering and move the sales process forward, 
                    closing in on the final specification.
                </ion-card-content>
              </ion-card>
              <span>
                <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
              </span>
            </ion-col>
            <ion-col size="12" sizeXl="4">
              <ion-card>
                <ion-card-header>
                  <ion-card-title class="centerText">Quality</ion-card-title>
                </ion-card-header>
                <ion-card-content class="centerText">
                    Raising the quality of your response and differentiating from the competition, 
                    instills the confidence you customer needs to see in order to trust your work
                </ion-card-content>
              </ion-card>
              <span>
                <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
              </span>
            </ion-col>
            <ion-col size="12" sizeXl="4">
                <ion-card>
                  <ion-card-header>
                    <ion-card-title class="centerText">Type</ion-card-title>
                  </ion-card-header>
                  <ion-card-content class="centerText">
                      Whether in need for a white space thought starter or a detailed 
                      environment NINTHPLATFORM provides the finishes and detail customized 
                      to the solutions you are presenting to your customer
                  </ion-card-content>
                </ion-card>
                <span>
                  <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
                </span>
              </ion-col>
          </ion-row>
      </ion-col>
    </ion-row>
    <div class="footerSpace"></div>
  </ion-content>