<ion-content>
  <!-- ******** Banner Area ********** -->
  <div class="bannerArea">
    <ion-row justify-content-center>
      <ion-col size="12">
        <h1 class="centerText titleText">Specification & Design Services</h1>
      </ion-col>
    </ion-row>
  </div>
  <!-- ******** Banner Area ********** -->
  <ion-row>
    <ion-col offsetXl="2" sizeXl="8">
      <h2 class="centerText contentTitle">
        When you have design you win the deal.
      </h2>
      <h3>
          Let Ninthplatform do your
          design. In a world where speed and accuracy are imperative on every deal, discover how
          to leverage ninthplatform to grow your business. We are an extension of your team:
      </h3>
      <ion-list>
        <ion-item>
          <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
          <p><strong>Make design a breeze: </strong>Ninthplatform is easier than building & 
            managing people and design internally. No overhead and faster turn-round.</p>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
          <p><strong>Free up your resources: </strong>While our team is working, your team can 
            stay focused on other key initiatives
          </p>
        </ion-item>
        <ion-item>
            <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
            <p><strong>Control Costs: </strong>Customers spend 30% less per project by using Ninthplatform
            </p>
          </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <hr>
  <ion-row justify-content-center>
      <ion-button shape="round" size="large" class="servicesButtons" color="primary" (click)="onClick()">
        <ion-icon color="light" slot="start" name="mail"></ion-icon> Contact Us
      </ion-button>
  </ion-row>
  <div class="footerSpace"></div>
</ion-content>