<ion-content>
  <!-- ******** Banner Area ********** -->
  <div class="bannerArea">
    <ion-row justify-content-center>
      <ion-col size="12">
        <h1 class="centerText titleText">Specification & Design Services</h1>
      </ion-col>
    </ion-row>
  </div>
  <!-- ******** Banner Area ********** -->
  <ion-row>
    <ion-col offsetXl="2" sizeXl="8">
      <ion-row>
        <ion-col size="12">
          <h2 class="centerText contentTitle">
            When you have design, you win the deal.
          </h2>
          <h3>
            Let NINTHPLATFORM do your
            design. In a world where speed and accuracy are imperative on every deal, discover how
            to leverage NINTHPLATFORM to grow your business. We are an extension of your team:
          </h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" sizeXl="4">
          <ion-card>
            <ion-card-header>
              <ion-card-title class="centerText">Make design a breeze</ion-card-title>
            </ion-card-header>
            <ion-card-content class="centerText">
              NINTHPLATFORM is easier than building & managing people and design internally.
              No overhead and faster turn-round.
            </ion-card-content>
          </ion-card>
          <span>
            <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
          </span>
        </ion-col>
        <ion-col size="12" sizeXl="4">
          <ion-card>
            <ion-card-header>
              <ion-card-title class="centerText">Free up your resources</ion-card-title>
            </ion-card-header>
            <ion-card-content class="centerText">
              While our team is working, your team can stay focused on other key initiatives
            </ion-card-content>
          </ion-card>
          <span>
            <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
          </span>
        </ion-col>
        <ion-col size="12" sizeXl="4">
            <ion-card>
              <ion-card-header>
                <ion-card-title class="centerText">Control Costs</ion-card-title>
              </ion-card-header>
              <ion-card-content class="centerText">
                  Customers spend 30% less per project by using NINTHPLATFORM
              </ion-card-content>
            </ion-card>
            <span>
              <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
            </span>
          </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <hr>
  <ion-row justify-content-center>
    <ion-button href="contact-us" shape="round" size="large" class="servicesButtons" color="primary" (click)="onClick()">
      <ion-icon color="light" slot="start" name="mail"></ion-icon> Contact Us
    </ion-button>
  </ion-row>
  <div class="footerSpace"></div>
</ion-content>