
.introBackGround {
    position: relative;
    left: -20px;
    top: -20px;
    width: 103%;
    background-image: url("/src/assets/images/ExamplePic.png");
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center; 
    height: 800px;
}

.HomePageLogo {
    height: 340px;
    margin-top: 80px;
}

.servicesButtons {
    height: 200px;
    margin: 30px;
}

.servicesIcon {
    font-size: 100pt;
    text-align: center;
}

h1, h2, h3, h4, h5, p {
    color: #F9FCF6;
}

.centerText {
    text-align: center;
}


// Xl Screens 1140px and Higher
@media screen and (min-width: 1140px) {

}
// lg Screen 960px to 1139px
@media screen and (min-width: 960px) and (max-width: 1139px){ 

}

// md screen 720px to 956px
@media screen and (min-width: 720px) and (max-width: 956px) {

}

// xs 719 and under
@media screen and (max-width: 719px) {

}