   
   <ion-content>
      <ion-row>
          <ion-col size="12">
            <ion-button (click)="closeModal()">
              Close
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-grid>
          <ion-row align-items-center>
            <ion-col size="12">
                <ion-img src="{{imageURL}}" alt=""></ion-img>
                <span (click)="previousImage()" class="leftIcon"><ion-icon slot="end" name="arrow-dropleft-circle"></ion-icon></span>
                <span (click)="nextImage()" class="rightIcon"><ion-icon slot="end" name="arrow-dropright-circle"></ion-icon></span>
            </ion-col>
          </ion-row>
        </ion-grid>
   </ion-content>

